// Primary Font Colours
$primary-text: #777;

// Font Colours
$primary-menu: #fff;

// Landing Page Colours
$color-blue-purple: #8FB8DE;
$color-voilet-purple: #9A94BC;

// Timeline Colours
$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

// Background Panel Colours
$primary-light-odd: #FFF;
$primary-dark-odd: #F8F8F8;
